@page "/auth/sys/permission"

@{
    ViewData["Script"] = "apps/auth_v2/auth-sys-permission.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "Authority";
    ViewData["Content-Title-Page"] = "Permission";

}

@* container opened *@
<div class="container">

    @* subheader *@
    <div class="breadcrumb-header justify-content-between">

        @* breadcrumb *@
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">@ViewData["Content-Title"]</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ @ViewData["Content-Title-Page"]</span>
            </div>
        </div>
        @* breadcrumb *@
        @* action *@
        <div class="d-flex my-xl-auto right-content">
            <div class="mb-3 mb-xl-0">
                <button id="btn-item_create" class="btn btn-success btn-with-icon btn-block" data-toggle="modal" data-target="#modal-frm_data"><i class="typcn typcn-document-add"></i> New Item</button>
            </div>
        </div>
        @* action *@

    </div>
    @* subheader *@

    @* advance search *@
    @*<div id="card-adv_search" class="row">
        <partial name="~/Pages/Auth/Application/Search.cshtml" />
    </div>*@
    @* advance search *@

    @* datatables *@
    <div id="card-datatables" class="row">
        <partial name="~/Pages/Auth_V2/auth-sys-permission/List.cshtml" />
    </div>
    @* datatables *@

    @* modal form *@
    <div id="card-form" class="row">
        <partial name="~/Pages/Auth_V2/auth-sys-permission/Form.cshtml" />
    </div>
    @* modal form *@

</div>
@* Container closed *@
