@page "/home"

@{
    ViewData["Script"] = "lib/home.js";

    ViewData["Title"] = "Index";
    ViewData["Content-Title"] = "Home";
    ViewData["Content-Title-Page"] = "";

}

@* container opened *@
<div class="container">

    <div class="col-12 col-sm-12 mg-t-20">
        <div class="card">
            <div class="card-header pb-0">
              
            </div>
            <div class="card-body" style="text-align:center;">
                <h4>Welcome To Intranet | VSK Autoparts Co.,Ltd</h4>
                <div>ยินดีต้อนรับ <span id="welcome_name" class="tx-info">-</span> เข้าสู่ระบบ อินทราเน็ต บริษัท ว.ศิริกาญออโตพาร์ท จำกัด</div>
                <div style="text-align:center;"><img src="~/assets/Know_us_VSK__5.jpg" style="width:70%" /></div>
            </div>
        </div>
    </div>


</div>
@* Container closed *@
