<div class="tab-pane" id="accountinfo">
    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7 col-xl-7 col-xs-7 col-sm-7">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลด้านบัญชีและการเงิน
                            </div>

                            <div class="row row-sm mg-t-20">
                                <div class="col-lg col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">พนักงาน</label>
                                    <input class="form-control form-control-sm" placeholder="พนักงาน" type="text" id="emmas_euserid" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-4 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เลขประจำตัวผู้เสียภาษี</label>
                                    <input class="form-control form-control-sm" placeholder="เลขประจำตัวผู้เสียภาษี" type="text" id="emmas_taxid" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-2">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">VAT</label>
                                    <input class="form-control form-control-sm" placeholder="VAT" type="text" id="emmas_evat" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ระดับราคาขาย</label>
                                    <input class="form-control form-control-sm" placeholder="เครดิต" type="text" id="emmas_egroup" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เครดิต (วัน)</label>
                                    <input class="form-control form-control-sm" placeholder="เครดิต" type="text" id="emmas_edue" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภทลูกค้า" type="text" id="emmas_ekcust" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-4 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทลูกหนี้</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภท" type="text" id="emmas_egroupkE" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทธุรกิจ</label>
                                    <input class="form-control form-control-sm" placeholder="ประเภทธุรกิจ" type="text" id="emmas_egroupk" style="margin-top: -3px;">
                                </div>
                            </div>

                            <div class="row row-sm mg-t-15">
                                <div class="col-lg col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">การวางบิล</label>
                                    <input class="form-control form-control-sm" placeholder="การวางบิล" type="text" id="emmas_ekbill" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-4 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ตัดจาก</label>
                                    <input class="form-control form-control-sm" placeholder="ตัดจาก" type="text" id="emmas_ecrcut" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รับเช็ค</label>
                                    <input class="form-control form-control-sm" placeholder="รับเช็ค" type="text" id="emmas_ekcheck" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-5 col-xl-5 col-xs-5 col-sm-5">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลด้านการเงิน
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิตทุกสาขา (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินเครดิต" type="text" id="emmasmtb_sumcreditlimit" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิตใช้ไปทุกสาขา (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินชั่วคราว" type="text" id="emmasmtb_sumeamount" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิตคงเหลือทุกสาขา (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินเครดิตคงเหลือ" type="text" id="emmasmtb_balanceofcredit" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินชั่วคราว (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="วงเงินชั่วคราว" type="text" id="emmasmtb_reserved" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-6">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ" type="text" id="emmas_eamount" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ VAT (บาท)</label>
                                    <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ VAT" type="text" id="emmas_eamountvat" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-5 col-xl-5 col-xs-5 col-sm-5">
                                <div class="main-content-label mg-b-5 tx-14">
                                    ข้อมูลด้านการเงิน
                                </div>
                                <div class="row row-sm mg-t-20">
                                    <div class="col-lg-6">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิต (บาท)</label>
                                        <input class="form-control form-control-sm" placeholder="วงเงินเครดิต" type="text" id="emmas_ecredit" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินชั่วคราว (บาท)</label>
                                        <input class="form-control form-control-sm" placeholder="วงเงินชั่วคราว" type="text" id="emmas_ecredit2" style="margin-top: -3px;">
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg-12 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">วงเงินเครดิตคงเหลือ (บาท)</label>
                                        <input class="form-control form-control-sm" placeholder="วงเงินเครดิตคงเหลือ" type="text" id="emmas_ecredit2" style="margin-top: -3px;">
                                    </div>
                                </div>
                                <div class="row row-sm mg-t-15">
                                    <div class="col-lg-6">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ (บาท)</label>
                                        <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ" type="text" id="emmas_eamount" style="margin-top: -3px;">
                                    </div>
                                    <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ยอดค้างชำระ VAT (บาท)</label>
                                        <input class="form-control form-control-sm" placeholder="ยอดค้างชำระ VAT" type="text" id="emmas_eamountvat" style="margin-top: -3px;">
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mg-t-10">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="row row-sm">
                                <div class="col-md col-md-10 main-content-label mg-b-5 tx-14">
                                    ข้อมูลบัญชีธนาคารของลูกค้า
                                </div>
                                <div class="col-md col-md-2 main-content-label mg-b-5 tx-14">
                                    <button type="button" class="col-sm-12 btn btn-sm btn-primary btn-with-icon btn-block" id="btn_addbankaccount" data-toggle="modal" data-target="#bankaccount">เพิ่มบัญชีธนาคาร</button>
                                </div>
                            </div>
                            <div id="frm-bankaccount-info">

                            </div>
                            <div id="frm-bankaccount-info-show" class="d-none">
                                <div class="row row-sm mg-t-20 ">
                                    <div class="col-lg col-lg-3">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ธนาคาร</label>
                                        <input class="form-control form-control-sm" placeholder="ธนาคาร" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-3 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อบัญชีธนาคาร</label>
                                        <input class="form-control form-control-sm" placeholder="ชื่อบัญชีธนาคาร</" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เลขที่บัญชีธนาคาร</label>
                                        <input class="form-control form-control-sm" placeholder="เลขที่บัญชีธนาคาร" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ประเภทบัญชีธนาคาร</label>
                                        <input class="form-control form-control-sm" placeholder="ประเภทบัญชีธนาคาร" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-2 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">หมายเหตุ</label>
                                        <input class="form-control form-control-sm" placeholder="หมายเหตุ" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>