<div class="tab-pane" id="contactinfo">
    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                @*<div class="card-header pb-0">
                    <span class="card-title mb-0 pb-0"></span>
                </div>*@
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="row row-sm">
                                <div class="col-md col-md-10 main-content-label mg-b-5 tx-14">
                                    ข้อมูลผู้ติดต่อ
                                </div>
                                <div class="col-md col-md-2 main-content-label mg-b-5 tx-14">
                                    <button type="button" class="col-sm-12 btn btn-sm btn-primary btn-with-icon btn-block" id="btn_addcontact" data-toggle="modal" data-target="#contact">เพิ่มผู้ติดต่อ</button>
                                </div>
                            </div>
                            <div id="frm-contact-info">

                            </div>
                            <div id="frm-contact-info-show" class="d-none">
                                <div class="row row-sm mg-t-20 ">
                                    <div class="col-lg col-lg-2">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Contact number</label>
                                        <input class="form-control form-control-sm" placeholder="Contact number" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-1 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Extension</label>
                                        <input class="form-control form-control-sm" placeholder="Extension" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-3 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Purpose</label>
                                        <input class="form-control form-control-sm" placeholder="Purpose" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                    <div class="col-lg col-lg-6 mg-t-10 mg-lg-t-0">
                                        <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Description</label>
                                        <input class="form-control form-control-sm" placeholder="Description" type="text" id="" style="margin-top: -3px;" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
