<div class="tab-pane active" id="customerinfo">
    <div class="row mg-t-20">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ข้อมูลลูกค้า
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg-6">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="รหัสลูกค้า" type="text" id="emmas_code" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg-6">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">Rank</label>
                                    <input class="form-control form-control-sm" placeholder="Rank" type="text" id="emmas_grouprank" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-12">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อลูกค้า</label>
                                    <input class="form-control form-control-sm" placeholder="ชื่อลูกค้า" type="text" id="emmas_lname" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg-6">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">โทรศัพท์</label>
                                    <input class="form-control form-control-sm" placeholder="โทรศัพท์" type="text" id="emmas_etel" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แฟกซ์</label>
                                    <input class="form-control form-control-sm" placeholder="แฟกซ์" type="text" id="emmas_efax" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                            <div class="main-content-label mg-b-5 tx-14">
                                ที่อยู่ลูกค้าหรือบริษัท
                            </div>
                            <div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่บริษัท</label>
                                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="emmas_eaddress" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="emmas_etumbol" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="emmas_eamphur" style="margin-top: -3px;">
                                </div>
                            </div>
                            <div class="row row-sm mg-t-15">
                                <div class="col-lg">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="emmas_eprovinc" style="margin-top: -3px;">
                                </div>
                                <div class="col-lg mg-t-10 mg-lg-t-0">
                                    <label class="main-content-label tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="emmas_ezip" style="margin-top: -3px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

