<div class="tab-pane" id="customer_remark">
    <div class="row row-sm main-content-app mb-4">
        <div class="col-md-5 col-xl-5 col-xs-5 col-sm-5">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <div class="main-content-label mg-b-5 tx-14">
                                เพิ่มประวัติลูกค้า
                            </div>
                            @*<div class="row row-sm mg-t-20">
                                <div class="col-lg">
                                    <label class="tx-13 tx-medium tx-gray-700" style="padding-left: 5px;">สายส่ง (Route)</label>
                                    <input class="form-control form-control-sm" placeholder="" type="text" id="emmas_kline" style="margin-top: -3px;">
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xl-7 col-xs-7 col-sm-7">
            <div class="card card-primary">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>