<div class="tab-pane active" id="customerinfo">
    <div class="row mg-t-15">
        <div class="col-md-4 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ข้อมูลลูกค้า
            </div>
            @*<p class="mg-b-20">It is Very Easy to Customize and it uses in your website apllication.</p>*@
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสลูกค้า</label>
                    <input class="form-control form-control-sm" placeholder="รหัสลูกค้า" readonly="" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">สาขาที่</label>
                    <input class="form-control form-control-sm" placeholder="สาขาที่" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">วันที่เปิดหัวลูกค้า</label>
                    <input class="form-control form-control-sm" placeholder="วันที่เปิดหัวลูกค้า" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ชื่อลูกค้า</label>
                    <input class="form-control form-control-sm" placeholder="ชื่อลูกค้า" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">อักษรย่อ</label>
                    <input class="form-control form-control-sm" placeholder="อักษรย่อ" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">Search name</label>
                    <input class="form-control form-control-sm" placeholder="search name" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ข้อมูลลูกค้า (นิติบุคคล)
            </div>
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">วันที่จดทะเบียนบริษัท</label>
                    <input class="form-control form-control-sm" placeholder="วันที่จดทะเบียนบริษัท" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ทุนจดทะเบียน</label>
                    <input class="form-control form-control-sm" placeholder="ทุนจดทะเบียน" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ผู้มีอํานาจลงนาม</label>
                    <input class="form-control form-control-sm" placeholder="ผู้มีอํานาจลงนาม" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">หมายเลขบัตรประชาชนเจ้าของกิจการ</label>
                    <input class="form-control form-control-sm" placeholder="หมายเลขบัตรประชาชนเจ้าของกิจการ" type="text" id="" style="margin-top: -3px;">
                </div>
                @*<div class="col-lg mg-t-10 mg-lg-t-0">
                        <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                        <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                    </div>*@
            </div>
        </div>
    </div>


    <div class="row mg-t-30">
        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ที่อยู่ลูกค้าหรือบริษัท
            </div>
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่บริษัท</label>
                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ที่อยู่ลูกค้าตามภูมิลำเนา
            </div>
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่ตามภูมิลำเนา</label>
                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
        </div>
    </div>


    <div class="row mg-t-30">
        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ข้อมูลผู้ติดต่อ
            </div>
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
            <div class="main-content-label mg-b-5">
                ที่อยู่ลูกค้าตามภูมิลำเนา
            </div>
            <div class="row row-sm mg-t-15">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">ที่อยู่ตามภูมิลำเนา</label>
                    <input class="form-control form-control-sm" placeholder="ที่อยู่บริษัท" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">แขวง/ตำบล</label>
                    <input class="form-control form-control-sm" placeholder="แขวง/ตำบล" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">เขต/อำเภอ</label>
                    <input class="form-control form-control-sm" placeholder="เขต/อำเภอ" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
            <div class="row row-sm mg-t-5">
                <div class="col-lg">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">จังหวัด</label>
                    <input class="form-control form-control-sm" placeholder="จังหวัด" type="text" id="" style="margin-top: -3px;">
                </div>
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <label class="main-content-label tx-11 tx-medium tx-gray-700" style="padding-left: 5px;">รหัสไปรษณีย์</label>
                    <input class="form-control form-control-sm" placeholder="รหัสไปรษณีย์" type="text" id="" style="margin-top: -3px;">
                </div>
            </div>
        </div>
    </div>
</div>