<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] List</h5>
        </div>
        <div class="card-body">
            <div>
                <table id="tbl-list" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap">
                    <thead style="font-size:11px; text-align:center">
                        <tr>
                            <th valign="middle" width="3%" class="tx-center">No.</th>
                            <th valign="middle" width="10%" class="tx-center">รหัสพนักงานขาย</th>
                            <th valign="middle" width="20%" class="tx-center">ชื่อพนักงาน</th>
                            <th valign="middle" width="10%" class="tx-center">โทรศัพท์</th>
                            <th valign="middle" width="25%" class="tx-center">รายละเอียด</th>
                            <th valign="middle" width="10%" class="tx-center">Sale group</th>
                            <th valign="middle" width="10%" class="tx-center">Branch</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
