<!-- Scroll with content modal -->
<div class="modal effect-flip-vertical" id="modal-frm_data" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width:40%">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">@ViewData["Content-Title-Page"] Form</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frm_data" name="frm_data" autocomplete="off">

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label">sku  <span class="tx-danger">*</span> </label>
                        <div class="col-sm-9">
                            <select class="form-control sku" id="sku" name="sku" data-width="100%" required="">
                                <option value="">-- เลือกสินค้า --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label">แทนที่ Item Supersesstion</label>
                        <div class="col-sm-9">
                            <select class="form-control replace_item_ss" id="replace_item_ss" name="replace_item_ss" data-width="100%" disabled>
                                <option value="">-- เลือกสินค้า --</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">วันที่</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="create_date" name="create_date" placeholder="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"> Ramark </label>
                            </div>
                            <div class="col-md-9">
                                <textarea id="remark" class="form-control" name="remark" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button id="btn-save_exit" class="btn ripple btn-primary btn-save_form" data-status="create" data-action="save_exit" type="submit">Save</button>
                <button id="btn-save_new" class="btn ripple btn-success btn-save_form" data-status="create" data-action="save_new" type="submit">Save & New</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal effect-flip-vertical" id="modal-cte-detail" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width:40%">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">@ViewData["Content-Title-Page"] Form</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frm_data_detail_create" name="frm_data_detail_create" autocomplete="off">

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label">Item Supersesstion<span class="tx-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control replace_item_ss" id="item_ss_detail" name="item_ss_detail" required="" data-width="100%">
                                <option value="">-- เลือกสินค้า --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-group-sm row">
                        <label class="col-sm-3 col-form-label">sku<span class="tx-danger">*</span> </label>
                        <div class="col-sm-9">
                            <select class="form-control sku" id="detail_sku" name="detail_sku" data-width="100%" required="" disabled>
                                <option value="">-- เลือกสินค้า --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">วันที่</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="create_detail_date" name="create_detail_date" placeholder="" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"> Ramark </label>
                            </div>
                            <div class="col-md-9">
                                <textarea id="detail_remark" class="form-control" name="detail_remark" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button id="btn-detail-save_exit" class="btn ripple btn-primary btn-save-form-detail" data-status="create" data-action="save_exit" type="submit">Save</button>
                <button id="btn-detail-save_new" class="btn ripple btn-success btn-save-form-detail" data-status="create" data-action="save_new" type="submit">Save & New</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-detailSuperSession" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="frm-edit">
                <div class="modal-header">
                    <h5 class="modal-title">Item Supersession Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bg-gray-100 nav-bg">
                        <nav class="nav nav-tabs nav-ss-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabCont1">Item Supersession</a>
                            <a class="nav-link" data-toggle="tab" href="#tabCont2">History</a>
                        </nav>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active show" id="tabCont1">
                            <div class="table-responsive">
                                <h5 id="item_supersession"></h5>
                                <div class="row row-sm ss_sku_list">
                                    <div class="col-lg-6">
                                        <label for="sku_list">Item Supersession:</label>
                                        <select class="form-control select2-no-search" id="ss_sku_list" name="ss_sku_list">
                                            <option value="">-- เลือกสินค้า --</option>
                                        </select>
                                    </div>
                                </div>
                                <table id="tbl-itemsupersession" class="table tbl-itemsupersession  table-striped table-bordered table-hover mg-b-0 text-md-nowrap"></table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabCont2">
                            <table id="tbl-item-history" class="table table-striped table-bordered table-hover mg-b-0 text-md-nowrap"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-save d-none">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--End Scroll with content modal -->
