<div class="col-12 col-sm-12">
    <form id="frm_search" name="frm_search" autocomplete="off">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Name <span class="tx-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="site_Description" name="site_Description" placeholder="" required="">
                </div>
            </div>
        </div>
    </form>
</div>