<!-- Scroll with content modal -->
<form id="frm_data" name="frm_data" autocomplete="off">
    <div class="modal effect-flip-vertical" id="modal-frm_data" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document" style="max-width:40%" > 
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">@ViewData["Content-Title-Page"] Form</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV ID <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_id" name="lov_id" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Group LOV <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_group" name="lov_group" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV TYPE <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_type" name="lov_type" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">PARENT LOV ID </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="parent_lov_id" name="parent_lov_id" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV CODE <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_code" name="lov_code" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 1</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov1" name="lov1" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 2</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov2" name="lov2" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 3</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov3" name="lov3" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 4</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov4" name="lov4" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 5</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov5" name="lov5" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 6</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov6" name="lov6" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 7</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov7" name="lov7" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 8</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov8" name="lov8" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 9</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov9" name="lov9" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV 10</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov10" name="lov10" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV NOTE</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_desc" name="lov_desc" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">LOV ORDER</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="lov_order" name="lov_order" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">ACTIVE FLAG</label>
                            </div>
                            <div class="col-md-3">
                                <label class="rdiobox"><input type="radio" class="active_flag" name="rdio" value="Y"> <span class="tx-success">YES</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="rdiobox"><input type="radio" class="active_flag" name="rdio" value="N" checked> <span class="tx-danger">NO</span></label>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btn-save_exit" class="btn ripple btn-primary btn-save_form" data-action="save_exit" type="submit">Save</button>
                    <button id="btn-save_new" class="btn ripple btn-success btn-save_form" data-action="save_new" type="submit">Save & New</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--End Scroll with content modal -->
</form>