<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] List</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbl-list" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap" style="font-size:11px"></table>
            </div>
        </div>
    </div>
</div>
