


<!-- Scroll with content modal -->
<form id="frm_history" name="frm_history" autocomplete="off">
    <div class="modal effect-flip-vertical" id="modal-frm_history" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">@ViewData["Content-Title-Page"] History</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="kt-portlet__body">
                        <div class="col-12 col-sm-12">
                            <table id="tbl-list-history" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Scroll with content modal -->
</form>
