<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] List</h5>
        </div>
        <div class="card-body">
            <!--<form class="form-horizontal" id="frm_search2" name="frm_search2" autocomplete="off">
                <div class="row col-sm-12">
                    <div style="width: 237px;margin-right:10px;"><label for="search_item_code_2">Product Code (รหัสสินค้า):</label></div>
                    <div style="width: 237px;margin-right:10px;"><label for="search_item_gbarcode_2">Barcode (บาร์โค้ด):</label></div>
                    <div style="width: 237px;margin-right:10px;"><label for="search_item_spcodes_2">Supplier Code (รหัสผู้ผลิต):</label></div>
                    <div style="width: 237px;margin-right:10px;"><label for="search_item_code1_2">Product Definition (ชื่อกลุ่มสินค้า):</label></div>
                    <div style="width: 237px;"><label for="search_item_code3_2">Brand Name (ยี่ห้อสินค้า):</label></div>
                </div>
                 
                <div class="row col-sm-12">
                    <div style="width: 237px;margin-right:10px;">
                        <input type="text" class="form-control" id="search_item_code_2" name="search_item_code_2" placeholder="">
                    </div>
                    <div style="width: 237px;margin-right:10px;">
                        <input type="text" class="form-control" id="search_item_gbarcode_2" name="search_item_gbarcode_2" placeholder="">
                    </div>
                    <div class="sel2 div_search_item_spcodes_2" style="width: 237px;margin-right:10px;">-->
                        @*<input type="text" class="form-control" id="search_item_spcodes_2" name="search_item_spcodes_2" placeholder="">*@
                        <!--<select class="form-control form-control-sm select2-sm" id="search_item_spcodes_2" name="search_item_spcodes_2" style="width: 100%;">
                            <option value="">Please select..</option>
                        </select>
                    </div>
                    <div style="width: 237px;margin-right:10px;">
                        <input type="text" class="form-control" id="search_item_code1_2" name="search_item_code1_2" placeholder="">
                    </div>
                    <div style="width: 237px;">
                        <input type="text" class="form-control" id="search_item_code3_2" name="search_item_code3_2" placeholder="">
                    </div>
                </div>

                <div class="form-group mb-0 mt-3 justify-content-end">
                    <div>
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" id="btn_reset" name="btn_reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>

            </form>
            <div class="border-top my-3"></div>-->

            <div class="mg-t-20">
                <table id="tbl-list" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap">

                </table>
            </div>
        </div>
    </div>
</div>
