<!-- Scroll with content modal -->
<form id="frm_data" name="frm_data" autocomplete="off">
    <div class="modal effect-flip-vertical" id="modal-frm_data" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">@ViewData["Content-Title-Page"] Form</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Application <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" id="application_id" required>
                                    <option value="">--- Select Application ---</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Parent <span class="tx-danger"></span></label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" id="menu_parent">
                                    <option value="">--- Select Parent Menu ---</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Name <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="menu_name" name="menu_name" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Icon <span class="tx-danger"></span></label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control select2" id="menu_icon" name="menu_icon" data-width="100%">
                                    <option value="0">--- Select Icon ---</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">URL <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="menu_url" name="menu_url" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Order <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" id="menu_order" name="menu_order" value="0" min="0" max="999" step="1" placeholder="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Status</label>
                            </div>
                            <div class="col-md-3">
                                <label class="rdiobox"><input type="radio" class="record_status" name="rdio" value="1"> <span class="tx-success">Enabled</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="rdiobox"><input type="radio" class="record_status" name="rdio" value="0" checked> <span class="tx-danger">Disabled</span></label>
                            </div>


                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button id="btn-save_exit" class="btn ripple btn-primary btn-save_form d-none" data-action="save_exit" type="submit">Save</button>
                    <button id="btn-save_new" class="btn ripple btn-success btn-save_form d-none" data-action="save_new" type="submit">Save & New</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--End Scroll with content modal -->
</form>