<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] List</h5>
        </div>
        <div class="card-body">
            <div>
                <table id="tbl-list" class="table table-bordered table-striped table-hover mg-b-0 text-md-nowrap">
                    <thead style="font-size:11px; text-align:center">
                        <tr>
                            <th valign="middle" width="3%" class="tx-center">No.</th>
                            <th valign="middle" width="7%" class="tx-center">Domain ID</th>
                            <th valign="middle" width="10%" class="tx-center">Domain Code</th>
                            <th valign="middle" width="50%" class="tx-center">Doamin Name</th>
                            <th valign="middle" width="15%" class="tx-center">STATUS</th>
                            <th valign="middle" width="15%" class="tx-center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
