<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- APPS CONFIG -->
    <add key="apps_env" value="DEV" />
    <add key="apps_version" value="2.0" />
    <add key="apps_rev" value="1" />
    <add key="apps_updated" value="" />
    <add key="apps_code" value="" />
    <add key="apps_token" value="" />
    <add key="apps_name" value="" />
    
    <add key="meta_desc" value="VSK Engine v.2.0" />
    <add key="meta_author" value="VSK-MIS" />
    <add key="meta_keywords" value="" />
    
    <add key="site_title" value=" VSK Autoparts Co.,LTD" />
    <add key="site_logo" value="../assets/img/logo_tran.gif" />
    <add key="site_copyright" value="Copyright © 2020 VSK Autoparts Co.,LTD. All rights reserved." />

  </appSettings>
</configuration>