<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="card-title" id="tiltle-table">รายการรับคืนประจำวัน</h5>
                </div>
                <div class="col-sm-6">
                    <div class="tx-right">ข้อมูลล่าสุด เมื่อ : <span id="last_update"></span></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbl-prejob_list" class="table table-bordered mg-b-0 text-md-nowrap">
                    @*<thead style="font-size:12px; text-align:center">
                        <tr>
                            <th width="7%" class="tx-center">เวลา</th>
                            <th width="9%" class="tx-center">เลยที่ใบเสร็จ</th>
                            <th>ข้อมูลสินค้า</th>
                            <th width="6%" class="tx-center">Qty.</th>
                            <th width="5%" class="tx-center">WH</th>
                            <th width="9%" class="tx-center">การรับแจ้ง</th>
                            <th width="25%">สาเหตุ</th>
                            <th width="8%" class="tx-center">โดย</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px; text-align:center">
                    </tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>
