<div class="col-12 col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title mb-0 pb-0">@ViewData["Content-Title-Page"] Search</h5>
        </div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-light">Search</button>
            <button type="button" class="btn btn-danger waves-effect waves-light">Reset</button>
        </div>
    </div>
</div>